.App {
  background-image: url("https://img2.goodfon.com/wallpaper/nbig/d/5a/sunset-sunset-over-earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
  text-align: justify;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

