.App {
  background-image: url("https://img2.goodfon.com/wallpaper/nbig/d/5a/sunset-sunset-over-earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  width: 100vw;
  height: 50vw;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

